body {
  width: 100%;
  height: 100vh;
  @include flex(center, center, row);
  background: linear-gradient(0deg, $softBlue, $softViolet);
}

.faq-box {
  .faq-content {
    background-color: white;
    padding: 15px 7px;
    border-radius: 15px;
    height: 600px;
    position: relative;
    @include flex(center, center, row);
    @include largeScreen() {
    @include flex(space-between, center, row-reverse);
      margin: 0 auto;
      height: 600px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 450px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      margin: 0 auto;
      width: 600px;
    }
    .image {
      width: 70%;
      height: 70%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 55%;
      background-image: url("/images/illustration-woman-online-mobile.svg");
      @include largeScreen() {
        background-image: url("/images/illustration-woman-online-desktop.svg");
        right: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .questions {
      margin-top: 150px;
      width: 100%;
      margin-inline: 5px;
      @include largeScreen() {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        width: 50%;
        height: 100%;
      }
      h1 {
        margin-bottom: 15px;
        text-align: center;
        @include largeScreen() {
          text-align: left;
        }
      }
      .box {
        .head {
          @include flex(space-between, center, row);
          padding: 15px 7px;
          border-top: 1px solid $veryDarkGrayishBlue;
          cursor: pointer;
          &:hover {
            h3 {
              color: $softRed;
            }
          }
          &.active {
            color: $veryDarkDesaturatedBlue;
            font-weight: bold;
          }
          h3 {
            font-size: 16px;
            font-weight: 300;
            color: $veryDarkGrayishBlue;
            margin-right: 20px;
            transition: 300ms;
            width: 100%;
            user-select: none;
          }
        }
        .text {
          padding: 7px;
          color: $DarkGrayishBlue;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.3;
          display: none;
          height: 0%;
          &.open {
            transition: 300ms;
            display: block;
            height: 100%;
          }
        }
      }
    }
  }
}